<!DOCTYPE html>
<html>
  <head>
    <title>AdventuRegion</title>
    <%= stylesheet_link_tag "main.css" %>
  </head>
  <body> 
    <div id="title"> Sign In </div> 
    <%= render 'Shared/navbar' %>
    
    <div id="wrapper">
      <div id="sidebar">

      </div>
      <div id="mainContent">
          <%= form_for(:session, url: signin_path) do |f| %>

          
          <%= f.email_field :email, class: 'form-control', placeholder: "Email"%>
          <br>

          
          <%= f.password_field :password, class: 'form-control', placeholder: "password" %>
          <br>

          <%= f.submit "Sign in", class: "btn btn-primary"  %> 
          <br><br>
            
          <p> New User? <%= link_to("Sign up now!", signup_path) %> </p>  
          <% end %> 
      </div>
    </div>
    <div id="footer"></div>
  </body>
</html>