<!DOCTYPE html>
<html>
  <head>
    <title>AdventuRegion</title>
    <%= stylesheet_link_tag "main.css" %>
  </head>
  <body> 
    <div id="title"> Sign Up </div> 
    <%= render 'Shared/navbar' %>
    
    <div id="wrapper">
      <div id="sidebar">

      </div>
      <div id="mainContent">
 		<%= form_for(@user) do |f|  %>

		<%= render 'Shared/error_messages' %>
		
		<%= f.label :name  %>
	 	<%= f.text_field :name, class: 'form-control' %>

		<%= f.label :email  %>
	 	<%= f.email_field :email, class: 'form-control' %>

		<%= f.label :password  %>
	 	<%= f.password_field :password, class: 'form-control' %>

		<%= f.label :password_confirmation, "Confirm Password"  %>
	 	<%= f.password_field :password_confirmation, class: 'form-control' %>

	 	<%= f.submit "Create Account", class: "btn btn-primary" %>
		<% end %>
      </div>
    </div>
    <div id="footer"></div>
  </body>
</html>