    <div id="titlebar">
      <a href= "/" ><img src=http://i.imgur.com/fpbjySk.png alt="TitlePlaceholder"></a>
    </div>
    <div id="nav">
       <ul>    
          <% if signed_in? %>
            <li><a <%= link_to( @current_user.name, user_path)%> </a></li>
            <li><a <%= link_to("Adventure Planner", planner_path) %> </a></li>
            <li><a <%= link_to("Places", place_index_path) %> </a></li>
            <li><a <%= link_to("About Us", about_path) %> </a></li>
            <li><a <%= link_to("Contact", contact_path) %> </a></li>
            <li><a <%= link_to("Sign Out", signout_path, method: "delete") %> </a></li>
          <% else  %>  
          <li><a <%= link_to("Sign in", signin_path) %> </a></li>          
          <li><a <%= link_to("Adventure Planner", planner_path) %> </a></li>
          <li><a <%= link_to("Places", place_index_path) %> </a></li>
          <li><a <%= link_to("About Us", about_path) %> </a></li>
          <li><a <%= link_to("Contact", contact_path) %> </a></li>

          <% end %>          
       </ul>
    </div>