<!DOCTYPE html>
<html>
  <head>
    <title>AdventuRegion</title>
    <%= stylesheet_link_tag "main.css" %>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.18&amp;libraries=places&amp;key=AIzaSyADvF-y97cxOzHCKo63NRWOaTQob13CUaw"></script>
    <%= javascript_include_tag "maps.js" %>
  </head>
  <body>
    <div id="title">AdventuRegion</div>
    <%= render "/Shared/navbar" %>
    <div id="wrapper">
      <div id="sidebar">
        <input id='start' name="start" type="text" placeholder="Start Location"></input>
      <!--<input id='end' type="text" placeholder="End Location"></input>-->
      <select id='end'>
        <% @places.each do |p| %>
            <option value='<%= p.latitude.to_s + "," + p.longitude.to_s %>'><%= p.name %></option>
        <% end %>
      </select>
      <select id='selectMode'>
          <option value="DRIVING">Driving</option>
          <option value="WALKING">Walking</option>
          <option value="BICYCLING">Bicycling</option>
          <option value="TRANSIT">Transit</option>
      </select>
      <button id="submit" type="button" onclick="maps:calcRoute();">Get Directions</button> 
      </div>
      <!--<input id="places-input" class="controls" type="text" placeholder="Search for places">-->
      <div id="map-canvas"></div>
    </div>
    <div id="footer"></div>
  </body>
</html>