<!DOCTYPE html>
<html>
<head>
</head>
<body>

  <h1>Place#new</h1>
  <%= form_for(@place, url: "/place/new") do |p| %>

    <%= p.label :name %>:
    <%= p.text_field :name %><br><br>

    <%= p.label :placeid %>:
    <%= p.text_field :placeid %><br><br>

    <%= p.label :category %>:
    <%= p.text_field :category %><br><br>

    <%= p.label :price %>:
    <%= p.text_field :price %><br><br>

    <%= p.label :popularity %>:
    <%= p.text_field :popularity %><br><br>

    <%= p.submit %><br>
  <% end %>

  <a href="/place/index"> Return to Places </a><br>
  <a href="/"> Return Home </a>
</body>
</html>