<!DOCTYPE html>
<html>
<head>
    <title>AdventuRegion</title>
    <%= stylesheet_link_tag "index.css" %>
  </head>
    <body>
      <%= render 'Shared/navbar' %>

      <h1>Create a new Place</h1>
      <%= form_for(@place, url: "/place/new") do |p| %>

        <%= p.label :name %>:
        <%= p.text_field :name %><br><br>

        <%= p.label :category %>:
        <%= p.text_field :category %><br><br>

        <%= p.label :price %>:
        <%= p.text_field :price %><br><br>

        <%= p.label :popularity %>:
        <%= p.text_field :popularity %><br><br>

        <%= p.submit "Create Place" %><br>
    <% end %>

    <a href="/place/index"> Return to Places </a><br>
  </body>
</html>
