<!DOCTYPE html>
<html>
<head>
    <title>AdventuRegion</title>
    <%= stylesheet_link_tag "index.css" %>
  </head>
    <body>
      <%= render 'Shared/navbar' %>

      <h1>Edit <%= @place.name %></h1>

      <form accept-charset="UTF-8" action="/place/<%= params[:id] %>" class="edit_place" id="edit_place" method="post">
        <input name="utf8" type="hidden" value="&#x2713;" />
        <input type="hidden" name="_method" value="put" />
        <input name="authenticity_token" type="hidden" value=<%= form_authenticity_token %> />

        <label for="place_name">Name</label>:
        <input id="place_name" name="place[name]" type="text" value="<%= @place.name %>"><br><br>

        <label for="place_category">Category</label>:
        <input id="place_category" name="place[category]" type="text" value=<%= @place.category %>><br><br>

        <label for="place_price">Price</label>:
        <select id="place_price" name="place[price]" value=<%= @place.price %>>
          <option value="Free">Free</option>
          <option value="Low">Low</option>
          <option value="Medium">Medium</option>
          <option value="High">High</option>
        </select><br><br>

        <label for="place_popularity">Popularity</label>:
        <select id="place_popularity" name="place[popularity]">
          <option value="Low" >Low</option>
          <option value="Medium">Medium</option>
          <option value="High">High</option>
        </select><br><br>

        <input name="commit" type="submit" value="Update Place"><br>
      </form>
      
    <a href="/place/index"> Return to Places </a><br>
  </body>
</html>
