<!DOCTYPE html>
<html>
 <head>
    <title>AdventuRegion</title>
    <%= stylesheet_link_tag "index.css" %>
  </head>
  <body>
    <%= render 'Shared/navbar' %>
<body>

  <h1>Current Places</h1>
  
<!--   
- @all_users.each do |user|
    = user
    = check_box_tag "users[#{user}]", 1, @selected_users.include?(user), :id => "users_#{user}"
  = submit_tag 'Refresh', :id => 'users_submit' -->

<form id="filter_form" method="get" action="/place" accept-charset="UTF-8">
<select name="category" form="filter_form">
  <option value=''>Select a Category</option>
  <% @allCategories.each do |type| %>
    <option value='<%= type %>'><%= type %></option>
  <% end %>
</select>

<select name="price" form="filter_form">
  <option value=''>Select a Price</option>
  <% @allPrices.each do |value| %>
    <option value='<%= value %>'><%= value %></option>
  <% end %>
</select>

<select name="popularity" form="filter_form">
  <option value=''>Select Popularity</option>
  <% @allPopularities.each do |value| %>
    <option value='<%= value %>'><%= value %></option>
  <% end %>
</select>
  <input type="submit" value="Filter"></input>
</form>
<br><a href="/place/create">Add a place</a>
  <table id="place_table">
    <thead>
      <tr>
        <th>Place</th>
        <th>Type</th>
        <th>Price</th>
        <th>Popularity</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>ID</th>
      </tr>
    </thead>
    <tbody>
      <% @places.each do |p| %>
          <tr>
            <td><%= link_to p.name, :controller => :place, :action => :show, :id => p.id %></td>
            <td><%= p.category %></td>
            <td><%= p.price %></td>
            <td><%= p.popularity %></td>
            <td><%= p.latitude %></td>
            <td><%= p.longitude %></td>
            <td><%= p.id %></td>
          </tr>
      <% end %>
  </tbody>
  </table> 
</body>
</html>