<!DOCTYPE html>
<html>
 <head>
    <title>AdventuRegion</title>
    <%= stylesheet_link_tag "index.css" %>
  </head>
  <body>
    <%= render 'Shared/navbar' %>
<body>

  <h1>Current Places</h1>

 <!--  <a href="/place/create"> Add new place </a><br> -->

  <a> <%=  link_to "Add a place", "/place/create" %> </a>
    <% lastCategory = "" %>
    <select id='selectCategory'>
      <% @places.each do |p|%>
        <% if lastCategory != p.category %>
          <option value=<%= p.category %>><%= p.category %></option>
        <% end %>
        <% lastCategory = p.category %>
      <% end %>
  </select>
  <input name="refresh" type="submit" value="Refresh"><br>

  <table id="place_table">
    <thead>
      <tr>
        <th>Place</th>
        <th>Type</th>
        <th>Price</th>
        <th>Popularity</th>
        <th>Latitude</th>
        <th>Longitude</th>
      </tr>
    </thead>
    <tbody>
      <% @places.each do |p| %>
          <tr>
            <td><%= link_to p.name, :controller => :place, :action => :show, :id => p.id %></td>
            <td><%= p.category %></td>
            <td><%= p.price %></td>
            <td><%= p.popularity %></td>
            <td><%= p.latitude %></td>
            <td><%= p.longitude %></td>
          </tr>
      <% end %>
  </tbody>
  </table> 
</body>
</html>