<!DOCTYPE html>
<html>
 <head>
    <title>AdventuRegion</title>
    <%= stylesheet_link_tag "index.css" %>
  </head>
  <body>
    <%= render 'Shared/navbar' %>
<body>

  <h1>Current Places</h1>

 <!--  <a href="/place/create"> Add new place </a><br> -->

  <a> <%=  link_to "Add a place", "/place/create" %> </a><br><br>

<!--   
- @all_users.each do |user|
    = user
    = check_box_tag "users[#{user}]", 1, @selected_users.include?(user), :id => "users_#{user}"
  = submit_tag 'Refresh', :id => 'users_submit' -->


<form id="categories_form" method="get" action="/place" accept-charset="UTF-8">
  <div style="display:none">
    <input type="hidden" value="✓" name="utf8"></input>
  </div>

  <% @allCategories.each do |type| %>
    <%= check_box_tag "categories[#{type}]", 1, @selectedCategory.include?(type), :id => "categories_#{type}" %>
    <%= type %>
  <% end %>

  <input id="categories_submit" type="submit" value="Refresh" name="commit"></input>
</form>

  <!-- <input name="refresh" type="submit" value="Refresh"><br> -->

  <table id="place_table">
    <thead>
      <tr>
        <th>Place</th>
        <th>Type</th>
        <th>Price</th>
        <th>Popularity</th>
        <th>Latitude</th>
        <th>Longitude</th>
      </tr>
    </thead>
    <tbody>
      <% @places.each do |p| %>
          <tr>
            <td><%= link_to p.name, :controller => :place, :action => :show, :id => p.id %></td>
            <td><%= p.category %></td>
            <td><%= p.price %></td>
            <td><%= p.popularity %></td>
            <td><%= p.latitude %></td>
            <td><%= p.longitude %></td>
          </tr>
      <% end %>
  </tbody>
  </table> 
</body>
</html>