<!DOCTYPE html>
<html>
 <head>
    <title>AdventuRegion</title>
    <%= stylesheet_link_tag "main.css" %>
  </head>
<body> 
  <div id="title"> Current Places </div> 
  <%= render 'Shared/navbar' %>
    
    <div id="wrapper">
      <div id="sidebar">
        <form id="filter_form" method="get" action="/place" accept-charset="UTF-8">
        <select name="category" form="filter_form" class="sidebar">
          <option value=''>Select a Category</option>
          <% @all_categories.each do |type| %>
            <option value='<%= type %>'><%= type %></option>
          <% end %>
        </select>

        <select name="price" form="filter_form" class="sidebar">
          <option value=''>Select a Price</option>
          <% @all_prices.each do |value| %>
            <option value='<%= value %>'><%= value %></option>
          <% end %>
        </select>

        <select name="popularity" form="filter_form" class="sidebar">
          <option value=''>Select Popularity</option>
          <% @all_popularities.each do |value| %>
            <option value='<%= value %>'><%= value %></option>
          <% end %>
        </select>
          <input type="submit" class="sidebar" id="submit" value="Filter"></input>
        </form>
        <!--<a href="/place/create">Add a place</a>-->
        <form action="/place/create">
          <input type="submit" id="submit" value="Add a place" class="sidebar">
        </form>
      </div>
      <br>
      <div id="placetable">
          <table>
            <thead>
              <tr>
                <th>Place</th>
                <th>Type</th>
                <th>Price</th>
                <th>Popularity</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>ID</th>
              </tr>
            </thead>
            <tbody>
              <% @places.each do |p| %>
                  <tr>
                    <td><%= link_to p.name, :controller => :place, :action => :show, :id => p.id %></td>
                    <td><%= p.category %></td>
                    <td><%= p.price %></td>
                    <td><%= p.popularity %></td>
                    <td><%= p.latitude %></td>
                    <td><%= p.longitude %></td>
                    <td><%= p.id %></td>
                  </tr>
              <% end %>
          </tbody>
          </table>
      </div>
    </div>
    <div id="footer"></div>
  </body>
</html>