-#  This file is /app/views/place/new.html.haml
%h1 Add New Place

=form_tag new_places_path

  = label :place, :name, 'Name'
  = text_field :place, 'name'

  = label :place, :placeid, 'Place ID'
  = text_field :place, 'placeid'

  = label :place, :type, 'Type'
  = text_field :place, 'type'

  = label :place, :price, 'Price'
  = text_field :place, 'price'

  = label :place, :popularity, 'Popularity'
  = text_field :place, 'popularity'

  =submit_tag 'Save New Place'

=link_to "Back", places_path
