<!DOCTYPE html>
<html>
  <head>
    <title>AdventuRegion</title>
    <%= stylesheet_link_tag "main.css" %>
  </head>
  <body> 
    <div id="title"> Showing Details for <%= @place.name %> </div> 
    <%= render 'Shared/navbar' %>
    
    <div id="wrapper">
      <div id="sidebar">
        <%= link_to "Edit Record", {:controller => :place, :action => :edit, :id => @place.id} %><br>
      </div>
      <div id="mainContent">
        Name = <%= @place.name %><br>
        Category = <%= @place.category %><br>
        Price = <%= @place.price %><br>
        Popularity = <%= @place.popularity %><br>
        Longitude = <%= @place.longitude %><br>
        Latitude = <%= @place.latitude %><br><br>
      </div>
    </div>
    <div id="footer"></div>
  </body>
</html>