<!DOCTYPE html>
<html>
<head>
    <title>AdventuRegion</title>
    <%= stylesheet_link_tag "index.css" %>
  </head>
  <body>
    <%= render 'Shared/navbar' %>
    
  <h2>Showing Details for <%= @place.name %> </h2>

  <%= link_to "Edit Record", {:controller => :place, :action => :edit, :id => @place.id} %><br>
  <a href="/"> Return Home </a><br><br>

  Name = <%= @place.name %><br>
  Category = <%= @place.category %><br>
  Price = <%= @place.price %><br>
  Popularity = <%= @place.popularity %><br><br>
  <a href="/place"> Return to Places </a><br>
</body>
</html>
<!--
%ul#details
  %li
    Assigned User:
    = @project.user
  %li
    Due by:
    = @project.due_date.strftime("%B %d, %Y")

%h3 Short Description:
%p#description= @project.description
 
%h3 Description:

%p#extended_description= @project.extended_description

= link_to 'Edit', edit_project_path(@project)
= button_to 'Delete', project_path(@project), :method => :delete, :confirm => 'Are you sure?'
= link_to 'Back to project task list', projects_path -->
