<!DOCTYPE html>
<html>
<head>
    <title>AdventuRegion</title>
    <%= stylesheet_link_tag "index.css" %>
  </head>
  <body>
    <%= render 'Shared/navbar' %>
    
  <h2>Showing Details for <%= @place.name %> </h2>

  <%= link_to "Edit Record", {:controller => :place, :action => :edit, :id => @place.id} %><br>
  <a href="/"> Return Home </a><br><br>

  Name = <%= @place.name %><br>
  Category = <%= @place.category %><br>
  Price = <%= @place.price %><br>
  Popularity = <%= @place.popularity %><br>
  Longitude = <%= @place.longitude %><br>
  Latitude = <%= @place.latitude %><br><br>
  <a href="/place"> Return to Places </a><br>
</body>
</html>